/* Bara lite CSS för att få igång kopplingen och även se lite roligare ut. */
body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

h2 {
    color: green;
}

.footer {
    background-color: black;
    height: 100px;
    margin: auto;
    text-align: center;
    margin-top: 15%;
}

.footer a {
  color: white;
}
